<launch>
  <param command="$(find xacro)/xacro $(find robot_description)/urdf/robot.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model robot" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <include file="$(find jani_world)/launch/sim_world_1.launch"/>
</launch>
