<launch>

<rosparam file="$(find arm_export_description)/launch/controller.yaml" command="load"/>
<node args="link_1_joint_position_controller link_3_joint_position_controller link_end_joint_position_controller link_2_joint_position_controller finger_1_joint_position_controller finger_3_joint_position_controller finger_2_joint_position_controller arm_base_joint_position_controller camera_revolute_position_controller joint_state_controller " name="controller_spawner" ns="arm_export" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/arm_export/joint_states"/>
</node>

</launch>